@font-face {
  font-family: 'CairoRegular';
  src: url("{% static 'fonts/Cairo-Regular.woff2'%}");
  font-display: swap;
}

@font-face {
  font-family: 'CairoSemiBold';
  src: url("{% static 'fonts/Cairo-SemiBold.woff2'%}");
  font-display: swap;
}

@font-face {
  font-family: 'CairoBold';
  src: url("{% static 'fonts/Cairo-Bold.woff2'%}");
  font-display: swap;
}