{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
             {% include "dashbord_template/head.html"%}
  </head>
  <body class="ft-sz-0-7">
    <div class="container dp-fx">

            {% include 'dashbord_template/aside.html'%}
      <main>

            {% include 'dashbord_template/header.html'%}

        <section class="main-content">
             {% include "dashbord_template/sectionContent.html"%}
        </section>
                <section class="main-content">
             {% include "dashbord_template/sectionContent.html"%}
                    

      </main>
    </div>
  </body>
</html>

