<aside>
        <h2 class="special-underline-1">Ecole XXX</h2>
        <nav>
          <ul class="nav-links">
            <li style="background-color: var(--color-one)" ><a href="../index.html" class="icon dashboard"><span class="hide">Dashboard</span> </a></li>
            <li><a href="settings.html" class="icon settings"><span class="hide">Settings</span> </a></li>
            <li><a href="profile.html" class="icon profile"><span class="hide">Profile</span> </a></li>
            <li><a href="projects.html" class="icon projects"><span class="hide">Projects </span></a></li>
            <li >
              <a href="courses.html" class="icon courses"><span class="hide">Courses </span></a>
            </li>
            <li><a href="friends.html" class="icon friends"><span class="hide">Friends</span> </a></li>
            <li><a href="files.html" class="icon files"><span class="hide">Files</span> </a></li>
            <li><a href="plans.html" class="icon plans"><span class="hide">Plans</span> </a></li>
          </ul>
        </nav>
      </aside>