{% load static %}
<header>
          <div class="search icon magnifying-glass ft-sz-0-7-bf">
            <input
              type="search"
              name="search"
              id="search"
              placeholder="Search Keyword"
              class="ft-sz-0-8"
            />
          </div>
          <div class="status pointer-effect">
            <i class="fa-regular fa-bell notif-true ft-sz-1"></i>
            <div class="image-user">
              <img src="{% static 'img/user.webp' %}" alt="user image illustration" width="22" height="22"/>
            </div>
          </div>
        </header>