  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Erraji Noureddine" />
    <meta name="description" content=" Dashboard " />
    
    <!-- FontAwesome Library -->
    <link rel="stylesheet" href="{% static 'css/all.css'%}" />
    
    <!-- main style css -->
    <link rel="stylesheet" href="{% static 'css/master.css'%}">
    <!-- framework & Elements css file -->
    <link rel="stylesheet" href="{% static 'css/framework-elements.css'%}">
    <!-- non critical css -->
    <link
      rel="preload"
      href="{% static 'css/non-critical-css.css'%}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript><link rel="stylesheet" href="{% static 'css/non-critical-css.css'%}" /></noscript>
<!-- openGraph tags -->
    <meta
    />
    <meta property="og:type" content="Dashboard" />
    <meta
      property="og:title"
     
    />
    <meta
      property="og:description"
     
    />
    <meta property="og:image" content="" />
    <title>Gestion Ecole </title>
</head>