      {% load static %}
    <section class="main-content">
          <h1 class="special-underline-2"> Dashboard </h1>
          <div class="content courses-ctn">
            <div class="course">
              <div class="image">
                <img src="{% static 'img/course-1.webp' %}" alt="random course image" width="234" height="175" />
                <div class="user-image">
                  <img src="{% static 'img/g1010-courses.webp'%}" alt="user image illustration" width="38" height="45" />
                </div>
              </div>
              <div class="course-desc">
                <h2 class="ft-sz-0-85">Mastering Web Design</h3>
                <p class="ft-wg-600 grey-5-cl">
                  Master The Art Of Web Designing And Mocking, Prototyping And Creating
                  Web Design Architecture
                </p>
              </div>
              <div
                class="course-info dp-fx fx-js-bt grey-5-cl grey-1-bg-bf ps-rl ft-sz-0-8 box-rec-small-af blue-bg-af white-cl-af ft-sz-0-8-af"
              >
                <span>
                  <i class="fa-regular fa-user"></i>
                  <span>850</span>
                </span>
                <span>$ 145</span>
              </div>
            </div>

           
           
          </div>
        </section>